@import "global/_color";
@import "global/_dim";
@import "_normalize";
@import "_skeleton";
@import "global/_common";

html, body{
    height:100%;
    margin: 0px;
    user-select: none;
    color:$cTextPrimary;
}
.fixed{
    position:fixed;
    margin-left:auto;
    margin-right:auto;
}
body{
    background:$background;
    background-repeat: repeat;
}

.window{
    top:0;
    bottom:0;
    left:0;
    right:0;
    position: absolute;
    border-radius: 20px;
}
.hideoverflow{
    height:100%;
    overflow:hidden;
}
.clipoverflow{
    height:100%;
    overflow:auto;
    
}
@mixin border-radius($radius){
    //border-radius:$radius;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    
}
core-pages{
    height:100%;
}
.hover_highlight:hover{
    color:$cAttention;
}

.container{
    height:100%;
    padding:0;
   
}

.content{
    padding:$frame_width; 
}
.move_down{
    padding-top:20%;
}
.greeting{
    
    display:table;
    background:$cGreetBackground;
    margin-left:-50%;
    padding-left:50%;
    padding-right:$background-padding;
    margin-bottom: 50px;
    @include border-radius($border-radius_m);
    box-shadow: 10px 10px 36px -9px rgba(0,0,0,0.28);
}
.navitem{
    padding:0 5px;
    color:$cTextPrimary;
    
}
.no_margin{
    
    margin:0;
}

.introline{
    background:$cContentBackground;
    margin-bottom: 2rem;
    display:table;
    position: relative;
    padding-left:$background-padding;
    padding-right:$background-padding;
    @include border-radius($border-radius_m);
    border:2px dashed #000;
    
}

paper-ripple{
    color:$cAttention;
}
.whole_container{
    position: absolute;
    height:100%;
    width:100%;
}
.background_pic{
    @extend .whole_container;
    
    background:$background, url("../images/raven head.jpg");
    background-repeat: repeat,no-repeat;
    background-position: top right;
    background-size:auto,contain;
   
    background-blend-mode: multiply;
    z-index:-2;  
}


.navbar{
    position:absolute;
    top:0;
    height:$frame_width;
    pointer-events: auto;
    left:50%;
    transform: translateX(-50%);
    color:lighten($cTextPrimary,30%);
    z-index: 10;
}
.footer{
    text-align: center;
    position: absolute;
    bottom:0;
    height: $frame_width;
    pointer-events:auto;
}

#ampersand{
    font-family: Helvetica,Ariel,sans-serif;
    color:$cAttention;
    text-shadow: 1px 2px 3px rgba(0,0,0,0.50);
}
.social{
    position: relative;
    color: #a9edff;
    
}
.item{
    text-transform: uppercase;
    background:$cItemBackground;
    display:inline-block;
    margin-bottom:5px;
    padding-left:5px;
    padding-right:5px;
    margin-left:20px;
    
}