@import "global/_color";
@import "global/_dim";
.attention{
    background:green;
}
img{
    max-width:100%;
}
#stage{
    padding:0
}
.text{
    padding-left:10;
    padding-right:10;
}
p, h1, h2, h3, h4, h5, h6{
    padding-left:10px;
    padding-right:10px;
}
a{
    color:$cAttention;
}