//out: redesign.css
@import "global/_color";
$logobox_width:50px;
$logobox_height:60px;

*{
  color:white;
}
.fullpage {
    height: 100vh;

}

.container_fixed{
  position: fixed;
  width: 100%;
  max-width: 960px;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
//background:yellow;
}
.flex{
  display:flex;
}

.vertical{
  display:flex;
  flex-direction:column;
}
.horizontal{
  display:flex;
  flex-direction:row;
}
.center_items{
  align-items:center;
}
.center {
    justify-content:center;
}

.stretch{
  flex:1;
}
.border{
  border:1px solid red;
}

header{
    background-image: url(../images/landing.png);
    background-size:cover;
    background-position: top;
    background-attachment: fixed;
}
footer{
  padding-top:50px;
  background-image:  url(../images/footer.png);
  background-size:cover;
  background-position: top;
  background-attachment: fixed;
  box-sizing:border-box;
}
.logo{
  position: relative;
  width:$logobox_width;
  padding:0;
  height:$logobox_height;
  background-color:$cAccent;
  //hidden overflow is very important, without it, the menu item would be clickable even when opacity=0!!!
  overflow:hidden;
  #logobox{
    position:relative;
    width:$logobox_width;
    height:100%;
  }
  #slideout{
    display:inline-block;
    position:absolute;
    left:$logobox_width;
    right:0;
    top:0;
    bottom:0;
    //opacity:0;
    transition:opacity 0.5s ease;
  }
}

#menu{
  transition:all 0.5s ease-in-out;
}
.menu_item{
  display:inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: $logobox_height;
  height:100%;
  width:(960px - $logobox_width) / 4;
  margin:0;
  transition:background-color 0.5s ease;
}
.menu_item:hover{
  background-color:lighten($cAccent,20%);
  transition:background-color 0.5s ease;
}
/* Larger than desktop */
@media (min-width: 1000px) {
  #menu:hover{
    width:100%;
    transition:all 0.5s ease-in-out;
    #slideout{
      opacity:1;
      transition:opacity 0.5s ease;
      transition-delay:0.5s;
    }
  }
}

.main_img{
  min-width:200px;
  min-height:200px;
  max-height:300px;
  background-image: url(../images/facebook.png);
  background-size:contain;
  background-position: center;
  background-repeat: no-repeat;
}
$arrow_size:15px;
.arrow{
  width: 0;
	height: 0;
	border-left: $arrow_size solid transparent;
	border-right: $arrow_size solid transparent;
	border-top: $arrow_size solid pink;
  position:absolute;
  bottom:$arrow_size*2;
  left:50%;
  margin:-$arrow_size;
}
.portfolio{
  padding-top:120px;
  padding-bottom:100px;
  background:#444444;
}
.profile{
  position:relative;
  border-radius:50%;
  height:100px;
  width:100px;
  background-image:url(../images/yiou.jpg);
  background-position: center;
  background-size: cover;
  margin:0 auto;

}
