.fullpage {
  height: 100vh;
  background: #81F79F; }

.flex {
  display: flex; }

.center_items {
  align-items: center; }

.vertical {
  display: flex;
  flex-direction: column; }

.horizontal {
  display: flex;
  flex-direction: row; }

.center {
  justify-content: center; }

.stretch {
  flex: 1; }

.border {
  border: 1px solid red; }
