//out: redesign.css
@import "global/_color";
*{
  color:white;
}
.fullpage {
    height: 100vh;

}
.container_fixed{
  position: fixed;
  width: 100%;
  max-width: 960px;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
//background:yellow;
}
.flex{
  display:flex;
}
.center_items{
  align-items:center;
}
.vertical{
  display:flex;
  flex-direction:column;
}
.horizontal{
  display:flex;
  flex-direction:row;
}
.center {
    justify-content:center;
}
.stretch{
  flex:1;
}
.border{
  border:1px solid red;
}

header{
    background-image: url(../img/bcg_slide-1.jpg);
    background-size:cover;
    background-position: top;
    background-attachment: fixed;
}
footer{
  background-image:  url(../img/bcg_slide-1.jpg);
  background-size:cover;
  background-position: top;
  background-attachment: fixed;

}
.logo{
  position: relative;
  width:50px;
  height:60px;
  background-color:$cAccent;
  display:flex;
  justify-content:center;
  h1{
    color:white;
  }
}
.main_img{
  min-width:200px;
  min-height:200px;
  max-height:300px;
  background-image: url(../images/facebook.png);
  background-size:contain;
  background-position: center;
  background-repeat: no-repeat;
}
$arrow_size:15px;
.arrow{
  width: 0;
	height: 0;
	border-left: $arrow_size solid transparent;
	border-right: $arrow_size solid transparent;
	border-top: $arrow_size solid pink;
  position:absolute;
  bottom:$arrow_size*2;
  left:50%;
  margin:-$arrow_size;
}
#projects{
  margin-top: 120px;
}
.profile{
  position:relative;
  border-radius:50%;
  height:100px;
  width:100px;
  background-image:url(../img/bcg_slide-4.jpg);
  background-position: center;
  background-size: cover;
  margin:0 auto;
}
