@import "../css/global/_color";

.left{
    padding:20px 0;
    background:$superLight;
    box-shadow: $boxShadow;
    margin-top:20px;
    text-decoration: none;
    color:$cTextPrimary;
}
.right{
    margin-top:20px;
    
}