@import "../css/global/_color";
.page_intro {
    div {
        background: $superLight;
        width: 80%;
        padding: 20px 10px;
        margin-left: auto;
        margin-right: auto;
    }
}

.page_content {}

@media (min-width: 550px) {
    .page_intro {
        div {
            background: none;
            width: 100%;
            padding: 0;
        }
    }
}