$cMint:#90E996;
$cOrange:#FF9966;

$cPrimary:$cMint;
$cAccent:$cOrange;

$background:url(../images/noise.png);
$cTextPrimary:#676767;
$cTextContrast:invert($cTextPrimary);
$cGreetBackground:#FFF;
$cContentBackground:rgba(255,255,255,0.40);
$cBackground:darken($cGreetBackground,10%);
$cItemBackground:fade-out(darken($cGreetBackground,20%),0.1);
$cAttention:aqua;
$gradient: linear-gradient(0deg, #232526 10%, #414345 90%);
$halfDark:rgba(0, 0, 0, 0.5);
$halfLight:rgba(255, 255, 255, 0.5);
$superLight:rgba(255,255,255,0.85);
$darkenOverlay:linear-gradient($halfDark, $halfDark);
$lightenOverlay:linear-gradient($halfLight, $halfLight);
$boxShadow: 10px 10px 36px -9px rgba(0,0,0,0.28);
