$background:url(../images/noise.png);
$cTextPrimary:#444;
$cTextContrast:invert($cTextPrimary);
$cBackground:#FFF;
$cItemBackground:fade-out(darken($cBackground,20%),0.1);
$cAttention:aqua;
$gradient: linear-gradient(0deg, #232526 10%, #414345 90%);